@import "./elementui.scss";
@import "./theme.scss";

::scrollbar {
  width: 5px;
  height: 5px;
}

::scrollbar-track {
  width: 6px;
  border-radius: 10px;
}

::scrollbar-thumb {
  background: rgba(0, 0, 0, .1);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, .2);
  border-radius: 2px;
}

::scrollbar-thumb:window-inactive {
  background: #eee;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: rgba(0, 0, 0, .2);
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, .6);
}

* {
  padding: 0;
  margin: 0;
}

body {
  height: 100%;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
  text-rendering: optimizeLegibility;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  box-sizing: border-box;
  height: 100%;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.no-padding {
  padding: 0 !important;
}

.padding-content {
  padding: 4px 0;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
.el-table a {
  color: #337ab7;
}
div:focus {
  outline: none;
}

.fr {
  float: right;
}

.fl {
  float: left;
}

.pr-5 {
  padding-right: 5px;
}

.pl-5 {
  padding-left: 5px;
}

.block {
  display: block;
}

.pointer {
  cursor: pointer;
}

.inlineBlock {
  display: block;
}

.clearfix {
  &:after {
    content: " ";
    clear: both;
    display: block;
    height: 0;
    font-size: 0;
    visibility: hidden;
  }
}

code {
  display: block;
  padding: 15px 16px;
  margin-bottom: 20px;
  font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
  font-size: 15px;
  line-height: 36px;
  background: #eef1f6;

  a {
    color: #337ab7;
    cursor: pointer;

    &:hover {
      color: rgb(32, 160, 255);
    }
  }
}
//main-container全局样式
.app-container {
  padding: 20px;
}
.pagination-container {
  margin-top: 30px;
}

.text-center {
  text-align: center;
}

.link-type,
.link-type:focus {
  color: #337ab7;
  cursor: pointer;

  &:hover {
    color: rgb(32, 160, 255);
  }
}
// 每个具有保存和退出按钮的地方采用粘性布局
.add-record-bottom-component {
  background: white;
  bottom: 0;
  z-index: 10;
  text-align:center;
  position: sticky;
  position: -webkit-sticky;
}

.green {
  color: #67C23A;
}

.red {
  color: #F56C6C;
}

.orange {
  color: #E6A23C;
}

.blue {
  color: #409EFF;
}

.gray {
  color: #909399;
}