# kdiff3 ignore
*.orig

# maven ignore
target/

# eclipse ignore
.settings/
.project
.classpath

# idea ignore
.idea/
*.ipr
*.iml
*.iws

# temp ignore
*.log
*.cache
*.diff
*.patch
*.tmp

# system ignore
.DS_Store
Thumbs.db

# package ignore (optional)
# *.jar
# *.war
# *.zip
# *.tar
# *.tar.gz

**/generatorConfig.xml

# client ignore
node_modules
.history
.vscode
dist/
#*.zip

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# lock
yarn.lock

# docker
docker/elasticsearch/data/*
docker/elasticsearch/logs/*
docker/elasticsearch/plugins/*

!docker/web/**